.mgtb{
  margin-top: 10px;
  margin-bottom: 60px;
}
.payDiv{
  display: none !important;
}
.cancelDiv{
  display: none !important;
}
.cancelRadius{
  border-radius: 4px !important;
}
.payRadius{
  border-radius: 4px !important;
}
.mybg{
  background: #fcfcfc;
}
.padin{
  border: none !important;
  text-indent: 14px;
}
.fcolor{
  color: #939393;
}
.topcol{
  border-top: 1px solid #ccc;
  padding-top: 12px;
  text-indent: 2px;
}
.myhr{
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: -14px;
  margin-bottom: 20px;
}
.textRed{
  color: #f00;
}
.thColor{
  color:#666;
}
.tdColor{
  color:#939393;
}