@import '../variables';

.model {
  position: fixed;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(black, 0.8);
  align-items: center;
  justify-content: center;
}

.model_content {
  background-color: white;
  @include border-top-radius(10px);
  @include border-bottom-radius(5px);
  border: 1px solid black;
  //background-color: #0000AA;
  h1 {

    @include border-top-radius(8px);
    background-color: $gray;
    margin-top: 0;
    padding-left: 10px;
    color: white;
  }
}

$btn_color: $gray-light;

.btn {
  color: white;
  border: 1px solid darken($btn_color, 10%);
  background: $btn_color;
  transform: rotate(30deg);
}

.btn:hover {
  background-color: lighten($btn_color, 10%);
}
