.mgt{
  margin-top: 10px;
}
.mgtb{
  margin-top: 10px;
  margin-bottom: 70px;
}
.mgb{
  margin-bottom: 10px !important;
}
.borderBW{
  border-bottom-width: 1px !important;
}
.selectH{
  height: 34px !important;
}
.mgr{
  margin-right: 24px;
}
.thColor{
  color:#666;
}
.tdColor{
  color:#939393;
}
.topbottom{
  padding-top: 10px;
  padding-bottom: 10px;
}