.mgt{
  margin-top: 10px;
}
.mgtb{
  margin-top: 10px;
  margin-bottom: 70px;
}
.mgb{
  margin-bottom: 10px !important;
}
.navbg{
  position: relative;
  z-index: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}
.borderBW{
  border-bottom-width: 1px !important;
}
.selectH{
  height: 34px !important;
}
.mgr{
  margin-right: 24px;
}