.bg{
  background-color: #fff !important;
}
.navbg {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #fff;
  position: relative;
  z-index: 0;
}

.mgtb {
  margin-top: 10px;
  margin-bottom: 70px;
}

.mgt {
  margin-top: 4px;
  position: relative;
}

.width {
  width: 100% !important;
}

@media (max-width: 992px){
  .btnRemove{
    position: absolute;
    right: 15px !important;
  }
}
@media (max-width: 992px)and(min-width: 768px) {
  .divRemove{
    position: relative;
  }
  .btnRemove{
    position: absolute;
    right: -30px !important;
    top: -17px;
    z-index: 100;
  }
  .widthP{
    width: 100%;
  }
  .col4{
    margin: 0 !important;
  }
  .padding30{
    position: relative;
    left: -1px;
    padding-right: 23px;
  }
  .navbg{
    padding-left: 0 !important;
  }
}
@media (min-width: 992px) {
  .noRightBorderR{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .divRemove{
    position: absolute;
    right: 16px;
    top: 17px;
  }
  .btnRemove{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    right: 0;
    top: -17px;
    z-index: 10;
  }
  .mgt{
    padding-right: 15px;
  }
  .col4{
    width:33.333333%;
    position: relative;
  }
  .padding30{
    position: relative;
    left: -1px;
    padding-right: 53px;
  }
  .widthP{
    width: 100%;
  }
  .navbg{
    padding-left: 0 !important;
  }
}
@media (max-width: 992px){
  .btnRemove{
    border-radius: 0 4px 4px 0;
  }
  .col4{
    margin-left: 15px;
    margin-right: 50px;
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px){
  .mgt{
    margin-bottom: 14px !important;
    width: 100% !important;
    position: relative;
  }
  .inputRadius{
    border-radius: 0 !important;
  }
  .padding30{
    position: relative;
    left: -1px;
  }
  .top0{
    position: relative;
    left: 1px !important;
  }
}
@media (max-width: 767px){
  .divRemove{
    position: absolute;
    right: 0;
    top: 0;
  }
  .btnRemove{
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100px;
    z-index: 100;
    word-break: break-all;
    white-space: pre-wrap;
  }
  .noBLR{
    border-bottom-left-radius: 0;
  }
  .noTLR{
    border-top-left-radius: 0;
  }
  .noALR{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .top1{
    position: relative;
    top: -1px;
  }
  .top2{
    position: relative;
    top: -2px;
  }
  .navbg{
    padding-left: 15px !important;
  }
}
.btnradius {
  border-radius: 0 5px 5px 0 !important;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.col{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.btnRemove{
  background-color: #f9f9f9;
}