@media (max-width: 768px) {
  .loginD{
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .loginD{
    max-width: 270px;
  }
}
@media (min-width:768px)and(max-width: 992px) {
  .loginD{
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  .loginD{
    max-width: 500px;
  }
}
.myContainer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn{
  margin-top: 25px;
}