@media (max-width: 768px) {
  .myContainer{
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .myContainer{
    max-width: 270px;
  }
}
@media (min-width:768px)and(max-width: 992px) {
  .myContainer{
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  .myContainer{
    max-width: 500px;
  }
}
.myContainer{
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loginD{
  position: absolute;
  bottom: 45%;
}
.btn{
  margin-top: 25px;
}